<?xml version="1.0" encoding="UTF-8"?>
<config>
    <phpunit>
        <suite>
            <modules>
                <Hackathon_MageTrashApp />
            </modules>
        </suite>
    </phpunit>
    <modules>
        <Hackathon_MageTrashApp>
            <version>1.0.0</version>
        </Hackathon_MageTrashApp>
    </modules>
</config>