<?xml version="1.0" encoding="UTF-8"?>
<config>
    <phpunit>
        <suite>
            <modules>
                <Hackathon_MageTrashApp />
            </modules>
        </suite>
    </phpunit>
    
    <modules>
        <Hackathon_MageTrashApp>
            <version>1.0.0</version>
        </Hackathon_MageTrashApp>
    </modules>

    <global>
        <blocks>
            <magetrashapp>
                <class>Hackathon_MageTrashApp_Block</class>
            </magetrashapp>
            <magetrashapp_adminhtml>
                <class>Hackathon_MageTrashApp_Block_Adminhtml</class>
            </magetrashapp_adminhtml>
        </blocks>
        <helpers>
            <magetrashapp>
                <class>Hackathon_MageTrashApp_Helper</class>
            </magetrashapp>
        </helpers>

        <models>
            <magetrashapp>
                <class>Hackathon_MageTrashApp_Model</class>
                <resourceModel>magetrashapp_resource</resourceModel>
            </magetrashapp>
            <magetrashapp_resource>
                <class>Hackathon_MageTrashApp_Model_Resource</class>
            </magetrashapp_resource>
            <adminhtml>
                <rewrite>
                    <config_data>Hackathon_MageTrashApp_Model_Adminhtml_Config_Data</config_data>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <magetrashapp_resource>
                <setup>
                    <module>Hackathon_MageTrashApp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </magetrashapp_resource>
        </resources>
        <events>
            <admin_system_config_changed_section_magetrashapp>
                <observers>
                    <hackathon_magetrashapp>
                        <class>Hackathon_MageTrashApp_Model_Observer</class>
                        <method>saveConfig</method>
                    </hackathon_magetrashapp>
                </observers>
            </admin_system_config_changed_section_magetrashapp>
        </events>

    </global>

    <admin>
        <routers>
            <subscription>
                <use>admin</use>
                <args>
                    <module>Hackathon_MageTrashApp</module>
                    <frontName>magetrashapp</frontName>
                </args>
            </subscription>
        </routers>
    </admin>

    <uninstall>
        <filename>uninstall.txt</filename>
        <!-- <path>.modman/Hackathon_MageTrashApp</path> -->
    </uninstall>
</config>
