<?xml version="1.0"?>

<config>
    <sections>
        <magetrashapp translate="label">
            <label>Mage Trash App</label>
            <tab>advanced</tab>
            <frontend_type>text</frontend_type>
            <sort_order>999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <manage_extns>
                    <label>Extensions Installed</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>magetrashapp_adminhtml/system_config_form_fieldset_modules_mageTrashApp</frontend_model>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </manage_extns>
                <rewind_extns>
                    <label>Rewind Extension</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>magetrashapp_adminhtml/system_config_form_fieldset_modules_rewind</frontend_model>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </rewind_extns>
            </groups>
        </magetrashapp>
    </sections>
</config>